#s-7797d693-fc87-45be-ae41-965ca3edf59b > #backgroundBox {
  position: absolute;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_3 {
  position: absolute;
  width: 375.0px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_3 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #shapewrapper-s-Line_2 marker {
  fill: #DDDDDD;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #shapewrapper-s-Line_2 {
  position: absolute;
  width: 372.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Line_2 {
  width: 372.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #DDDDDD;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Line_2 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 {
  position: absolute;
  width: 306.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 .valign {
  vertical-align: middle;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 input {
  color: #BEBEBE;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 17px;
  text-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_3 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 22px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_1 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 {
  position: absolute;
  width: 132.0px;
  height: 45.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 .valign {
  vertical-align: middle;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 input {
  color: #BEBEBE;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 17px;
  text-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_4 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 22px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_2 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 {
  position: absolute;
  width: 152.99999999999994px;
  height: 45.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 .valign {
  vertical-align: middle;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 input {
  color: #BEBEBE;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 17px;
  text-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_5 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 22px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_3 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_4 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_5 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 25.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 25.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_6 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 25.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 25.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_1 textarea::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_1 textarea::-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_1 textarea:-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_1 textarea:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_1 {
  position: absolute;
  width: 306.0000000000001px;
  height: 52.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_1 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_1 textarea {
  color: #BEBEBE;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 17px;
  text-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_1 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 {
  position: absolute;
  width: 306.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 .valign {
  vertical-align: middle;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 input {
  color: #BEBEBE;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 17px;
  text-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_6 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 22px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_7 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_1 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_1 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 {
  position: absolute;
  width: 306.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 .valign {
  vertical-align: middle;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 input {
  color: #BEBEBE;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 17px;
  text-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_7 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 22px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_8 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_8 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_2 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_2 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 {
  position: absolute;
  width: 306.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 .valign {
  vertical-align: middle;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 input {
  color: #BEBEBE;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 17px;
  text-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_8 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 22px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_9 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_9 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_3 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_3 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 {
  position: absolute;
  width: 306.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 .valign {
  vertical-align: middle;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 input {
  color: #BEBEBE;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 17px;
  text-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Input_9 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 22px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_10 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_10 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_4 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_4 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Button_1 {
  position: absolute;
  width: 242.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Button_1 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Button_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Button_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Button_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Button_1 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_12 {
  position: absolute;
  width: 219.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_12 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_12 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_2 {
  position: absolute;
  width: 22.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_2 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_2 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_2 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_5 {
  position: absolute;
  width: 11.0px;
  height: 9.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_5 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Hotspot_1 {
  position: absolute;
  width: 22.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_6 {
  position: absolute;
  width: 20.0px;
  height: 2.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_6 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_7 {
  position: absolute;
  width: 15.0px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_7 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_11 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_11 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_8 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_8 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_9 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_9 {
  box-shadow: none;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_10 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-7797d693-fc87-45be-ae41-965ca3edf59b #s-Image_10 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7797d693-fc87-45be-ae41-965ca3edf59b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}