#s-94fe5d27-2f3a-4efc-a455-7317228c45dd > #backgroundBox {
  position: absolute;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 25.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 25.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_1 {
  position: absolute;
  width: 176.0px;
  height: 130.37037037037035px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_1 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 {
  position: absolute;
  width: 307.0px;
  min-height: 202.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 14.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 14.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_2 {
  position: absolute;
  width: 307.0px;
  min-height: 202.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_2 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}