#s-94fe5d27-2f3a-4efc-a455-7317228c45dd > #backgroundBox {
  position: absolute;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 {
  position: absolute;
  width: 375.0px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #shapewrapper-s-Line_1 marker {
  fill: #DDDDDD;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #shapewrapper-s-Line_1 {
  position: absolute;
  width: 372.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Line_1 {
  width: 372.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #DDDDDD;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Line_1 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_1 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_1 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_2 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_2 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_3 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_3 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Google Sans Display',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Google Sans Display',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Google Sans Display',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_4 {
  position: absolute;
  width: 15.0px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_4 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_5 {
  position: absolute;
  width: 346.87819396014044px;
  height: 380.76859222061387px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_5 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_3 {
  position: absolute;
  width: 305.9999999999999px;
  min-height: 836.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_3 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 10.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #999999;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Button_1 {
  position: absolute;
  width: 373.7499999999999px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Google Sans',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Button_1 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Button_1 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Button_1 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'Google Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Button_1 span#rtr-s-Button_1_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'Google Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_13 {
  position: absolute;
  width: 182.0px;
  min-height: 69.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_13 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #shapewrapper-s-Line_2 marker {
  fill: #DDDDDD;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #shapewrapper-s-Line_2 {
  position: absolute;
  width: 375.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Line_2 {
  width: 375.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #DDDDDD;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Line_2 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_15 {
  position: absolute;
  width: 223.0px;
  min-height: 92.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_15 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #shapewrapper-s-Line_3 marker {
  fill: #DDDDDD;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #shapewrapper-s-Line_3 {
  position: absolute;
  width: 375.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Line_3 {
  width: 375.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #DDDDDD;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Line_3 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_17 {
  position: absolute;
  width: 207.0px;
  min-height: 92.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_17 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #shapewrapper-s-Line_4 marker {
  fill: #DDDDDD;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #shapewrapper-s-Line_4 {
  position: absolute;
  width: 375.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Line_4 {
  width: 375.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #DDDDDD;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Line_4 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_19 {
  position: absolute;
  width: 216.0px;
  min-height: 69.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_19 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #shapewrapper-s-Line_5 marker {
  fill: #DDDDDD;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #shapewrapper-s-Line_5 {
  position: absolute;
  width: 375.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Line_5 {
  width: 375.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #DDDDDD;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Line_5 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_11 {
  position: absolute;
  width: 21.000000000000114px;
  height: 20.222222222222246px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_11 {
  box-shadow: none;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_12 img, #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_12 svg {
  transform: rotateY(180deg) rotateX(180deg);
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_12 {
  position: absolute;
  width: 21.0px;
  height: 20.22222222222229px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-94fe5d27-2f3a-4efc-a455-7317228c45dd #s-Image_12 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-94fe5d27-2f3a-4efc-a455-7317228c45dd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}