#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 > #backgroundBox {
  position: absolute;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_1 {
  position: absolute;
  width: 375.0px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_1 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #shapewrapper-s-Line_1 marker {
  fill: #DDDDDD;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 372.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Line_1 {
  width: 372.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #DDDDDD;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Line_1 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_4 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_4 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_10 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_10 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_11 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_11 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_12 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_12 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Google Sans Display',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_5 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Google Sans Display',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Google Sans Display',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_13 {
  position: absolute;
  width: 15.0px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_13 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_2 {
  position: absolute;
  width: 375.0000000000002px;
  min-height: 735.1075268817203px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_2 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_3 {
  position: absolute;
  width: 222.0022091007039px;
  min-height: 104.81739130434778px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_3 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_5 {
  position: absolute;
  width: 105.1589411529651px;
  min-height: 104.8173913043479px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_5 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_6 {
  position: absolute;
  width: 105.1589411529651px;
  min-height: 104.81739130434784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_6 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_7 {
  position: absolute;
  width: 212.265270105059px;
  min-height: 104.81739130434784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_7 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_8 {
  position: absolute;
  width: 105.1589411529651px;
  min-height: 104.81739130434784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_8 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_9 {
  position: absolute;
  width: 105.1589411529651px;
  min-height: 104.81739130434784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_9 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_10 {
  position: absolute;
  width: 105.15894115296513px;
  min-height: 104.81739130434784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_10 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_11 {
  position: absolute;
  width: 213.23896400462348px;
  min-height: 104.81739130434784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_11 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_12 {
  position: absolute;
  width: 105.1589411529651px;
  min-height: 104.81739130434784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_12 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_13 {
  position: absolute;
  width: 178.18598362030198px;
  min-height: 104.81739130434784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_13 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_14 {
  position: absolute;
  width: 105.1589411529651px;
  min-height: 104.81739130434784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_14 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_1 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 22.0pt;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 22.0pt;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_1 {
  position: absolute;
  width: 198.38776870155763px;
  height: 35.04964009650163px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_1 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_4 {
  position: absolute;
  width: 105.1589411529651px;
  height: 65.16892127789387px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_4 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_2 {
  position: absolute;
  width: 190.5125340509593px;
  height: 37.00036818345092px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_2 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_9 {
  position: absolute;
  width: 87.8094522918058px;
  height: 36.870267260647665px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_9 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_6 {
  position: absolute;
  width: 213.65505263536508px;
  height: 47.478900585636666px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_6 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_7 {
  position: absolute;
  width: 96.81178468762607px;
  height: 41.07166623111402px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_7 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_8 {
  position: absolute;
  width: 214.21265790418823px;
  height: 64.26379737125654px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_8 {
  box-shadow: none;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_5 {
  position: absolute;
  width: 102.65394808501281px;
  height: 43.6003327887957px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 #s-Image_5 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c38ada70-4dba-48ab-8dbe-3ca63fa3a854 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}