#s-e7f26a45-d7eb-4004-b178-cec770dbea52 > #backgroundBox {
  position: absolute;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_1 {
  position: absolute;
  width: 375.0px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_1 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #shapewrapper-s-Line_1 marker {
  fill: #DDDDDD;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 372.0px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Line_1 {
  width: 372.0px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #DDDDDD;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Line_1 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_2 {
  position: absolute;
  width: 374.9999999999998px;
  min-height: 149.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_2 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_1 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_1 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_1 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_1 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_2 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_2 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_3 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_3 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_55 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Google Sans Display',Arial;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_55 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_55 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_55 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_55 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Google Sans Display',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Paragraph_55 span#rtr-s-Paragraph_55_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Google Sans Display',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_4 {
  position: absolute;
  width: 15.0px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_4 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_13 {
  position: absolute;
  width: 658.96552786918px;
  height: 315.30249308170903px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_13 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_12 {
  position: absolute;
  width: 657.0839978734715px;
  height: 303.26953748006366px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_12 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_11 {
  position: absolute;
  width: 657.0839978734715px;
  height: 303.2695374800636px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_11 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_10 {
  position: absolute;
  width: 657.0839978734715px;
  height: 303.2695374800643px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_10 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_9 {
  position: absolute;
  width: 657.0839978734715px;
  height: 303.2695374800637px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_9 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_8 {
  position: absolute;
  width: 657.0839978734714px;
  height: 303.26953748006395px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_8 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_7 {
  position: absolute;
  width: 674.606237816764px;
  height: 311.35672514619864px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_7 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_6 {
  position: absolute;
  width: 669.9999999999999px;
  height: 309.23076923076883px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Image_6 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Button_1 {
  position: absolute;
  width: 242.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Google Sans Display',Arial;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Button_1 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Button_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Button_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-radius: 5px 5px 5px 5px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Button_1 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Button_1 .paddingLayer:first-child {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Google Sans Display',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Google Sans Display',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_3 {
  position: absolute;
  width: 88.5px;
  min-height: 23.92899901548526px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_3 {
  box-shadow: none;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e7f26a45-d7eb-4004-b178-cec770dbea52 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}